
body {
    padding: 70px;
}

.paste-item {
    border: 1px #efefef solid;
    background: #f5f5f5;
    padding: 4px 4px 4px 4px;
    margin: 4px 0px 0px 0px;
}

.paste-row-1 {
    font-size: 100%;
}

.paste-row-2 {
    font-size: 90%;
    font-family: monospace;
}

.paste-row-2 a:link, .pate-row-2 a:hover, .paste-row-2 a:visited {
    color: red;
}

.CodeMirror {
    border: 1px solid black;
    font-size: 13px;
}

.paste-meta {
    font-size: 85%;
}
