
body {
    padding: 70px;
}

.paste-item {
    padding: 6px 6px 6px 6px;
    margin: 6px 0px 0px 0px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.paste-row-1 {
    font-size: 100%;
}

.paste-row-2 {
    font-size: 90%;
    font-family: monospace;
}

.paste-row-2 a:link, .pate-row-2 a:hover, .paste-row-2 a:visited {
    color: red;
}

.CodeMirror {
    border: 1px solid black;
    font-size: 13px;
}

.paste-meta {
    font-size: 85%;
}

#whalesong-container {
    margin: 0 auto;
    padding: 0;
}

#whalesong-container:-webkit-full-screen {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(255,255,255,255);
}

#whalesong-container:-moz-full-screen {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(255,255,255,255);
}

#whalesong-container:fullscreen {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(255,255,255,255);
}
